@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* AnimationFor Links line  */
/* Base styles for links */
.underline-animation {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.underline-animation:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}
